.app {
  min-height: 100vh;
  background: linear-gradient(135deg, #20727596 100%, #adadad96 100%);
  font-family: "Montserrat", sans-serif;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

@media (max-width: 768px) {
  .main-content {
    padding: 20px 10px;
  }
}
